* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding-left: 0.5vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tabla {
    width: 45vw;
}

.celda {
    padding: 0.5vw 1vw;
}